:root {
    --gap-0: 0px;
    --gap-8: 8px;
    --gap-12: 12px;
    --gap-16: 16px;
    --gap-24: 24px;
    --gap-32: 32px;

    --text-12: 12px;
    --text-14: 14px;
    --text-16: 16px;
    --text-18: 18px;
    --text-20: 20px;
    --text-24: 24px;
    --text-32: 32px;
    --text-44: 44px;
    --text-60: 60px;

    --red: #DC2626;
    --green: #16A34A;
    --blue: #2563AB;
    --purple: #9333EA;
    --orange: #EA580C;
    --dark: #111827;
    --gray: #797F8C;
    --back-1: #F2F7F9;
    --back-0: #FBFDFD;
    --text-gray: #4B5563;
    --text-gray-light: #D1D5DB;

    --bg: #f5f5f5;
    --text: #111827;
    --muted: #6b7280;
    --accent: #e53935;
    /* vermelho */
    --dark: #0b1220;
    --container: 1200px;
    --radius: 10px;
}

/* ------ MARCAÇÃO ------- */

.marcacao {
    background-color: var(--dark);
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.marcacao p {
    max-width: 768px;
    color: var(--muted);
}

.verificacao-card {
    max-width: 768px;
    background-color: var(--back-0);
    border-radius: 12px;


    display: flex;
    flex-direction: column;
    gap: 16px;
}

.verification-icon-box{
    margin: auto;
    width: fit-content;
}

.verificacao-card h2{
    color: var(--dark);
    text-align: center;
}

.verificacao-desc{
    text-align: center;
    color: var(--muted);
    font-size: 14px;
}

.verification-icon-box{
    background-color: #ec7e7e86;
    padding: 12px;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.verification-icon-box i{
    font-size: 20px;
    color: var(--accent);
    font-weight: bolder;
}

.verificacao-form {
    text-align: left;
}

.verificacao-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: var(--text);
    font-size: 14px;
}

.verificacao-form
 input[type="text"] {
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.verificacao-form input{
    outline: none;
 }

.verification-form input::placeholder {
    color: var(--muted);
}

.input-infor {
    font-size: 12px;
    color: var(--muted);
    margin-top: 5px;
}

.verify-button {
    background-color: var(--accent);
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: bold;
    width: 100%;
    transition: background-color 0.3s;
    margin-top: 15px;

    transition: scale .3s ease-in-out;
}

.verify-button:active{
    scale: .9;
}


/* --------- INFORMACOES GERAIS -------- */

.Informacoes {
    background-color: var(--dark);

    display: flex;
    flex-direction: column;
    gap: 16px;
}

.hero-titulo {
    color: var(--bg);
    font-size: 44px;
    font-weight: 600;
}

.Informacoes .desc-informacoes {
    max-width: 768px;
    color: var(--muted);
}