:root {
    --gap-0: 0px;
    --gap-8: 8px;
    --gap-12: 12px;
    --gap-16: 16px;
    --gap-24: 24px;
    --gap-32: 32px;

    --text-12: 12px;
    --text-14: 14px;
    --text-16: 16px;
    --text-18: 18px;
    --text-20: 20px;
    --text-24: 24px;
    --text-32: 32px;
    --text-44: 44px;
    --text-60: 60px;

    --red: #DC2626;
    --green: #16A34A;
    --blue: #2563AB;
    --purple: #9333EA;
    --orange: #EA580C;
    --dark: #111827;
    --gray: #797F8C;
    --back-1: #F2F7F9;
    --back-0: #FBFDFD;
    --text-gray: #4B5563;
    --text-gray-light: #D1D5DB;

    --bg: #f5f5f5;
    --text: #111827;
    --muted: #6b7280;
    --accent: #e53935;
    /* vermelho */
    --dark: #0b1220;
    --container: 1200px;
    --radius: 10px;
}

/* ------ MARCAÇÃO ------- */

.marcacao {
    background-color: var(--dark);
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.marcacao p {
    max-width: 768px;
    color: var(--muted);
}

@keyframes surgir {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.verificacao-card {
    max-width: 768px;
    margin: 24px auto;
    padding: 24px;
    background-color: var(--back-0);
    border-radius: 12px;


    display: flex;
    flex-direction: column;
    gap: 24px;
}

.btns-trocar-form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.btns-trocar-form button {
    padding: 12px 16px;
    border-radius: 8px;
    outline: none;
    border: none;
    width: 100%;
    cursor: pointer;
}


.btns-trocar-form button.verificar.activo {
    background-color: var(--dark);
    color: var(--back-0);
    font-weight: 500;
    cursor: pointer;
}

.btns-trocar-form button.cancelar.activo {
    background-color: var(--accent);
    color: var(--back-0);
    font-weight: 500;
    cursor: pointer;
}

.btns-trocar-form button.verificar,
.btns-trocar-form button.cancelar {
    background-color: #797f8c6c;
    color: #444d5a;
    font-weight: 500;
}

.verification-icon-box {
    margin: auto;
    width: fit-content;
}

.verificacao-card h2 {
    color: var(--dark);
    text-align: center;
}

.verificacao-desc,
.cancelar-desc {
    text-align: center;
    color: var(--muted);
    font-size: 14px;
}

.verification-icon-box {
    background-color: #ec7e7e86;
    padding: 12px;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.verification-icon-box i {
    font-size: 20px;
    color: var(--accent);
    font-weight: bolder;
}

.form {
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 16px;

    display: none;
    animation: surgir .3s ease;
}

.form.activo {
    display: block;
}

.form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: var(--text);
    font-size: 14px;
}

.form input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form input.numeroBi.aviso{
    border: 1px dashed var(--accent);
}

.form input {
    outline: none;
}

.form input::placeholder {
    color: var(--muted);
}

.input-infor, #infor_ref {
    font-size: 12px;
    color: var(--muted);
    margin-top: 5px;
}


#detalhe.aviso, #infor_ref.aviso{
    color: var(--accent);
    font-weight: 500;
}


#detalhe.aviso::after{
    content: "*";
    color: var(--accent);
}

.verify-button {
    background-color: var(--dark);
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
    transition: background-color 0.3s;
    margin-top: 15px;
    letter-spacing: 1px;

    transition: scale .3s ease-in-out;
}

.verify-button:active,
.cancelar-btn:active {
    scale: .9;
}

.cancelar-btn {
    color: white;
    background-color: var(--accent);
    padding: 12px 25px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    letter-spacing: 1px;
    font-weight: bold;
    width: 100%;
    transition: background-color 0.3s;
    margin-top: 15px;

    transition: scale .3s ease-in-out;
}

#resultado{
    margin-top: 1em;
    border-radius: 8px;
    padding: 12px;
    text-align: center;

    display: none;
    animation: surgir .3s ease-in-out;
}

#resultado.NaoCancelado.ok{
    background-color: rgba(255, 9, 5, 0.123);
    border: 1px solid #e53835a6;
    display: block;

    h4{
    color: var(--accent);
    font-weight: 500;
    }

    p{
    color: var(--accent);
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
}
}

#resultado.cancelado.ok{
    background-color: rgba(0, 255, 94, 0.123);
    border: 1px solid #16a34aa4;
    display: block;

        h4{
    color: var(--green);
    font-weight: 500;
    }

    p{
    color: var(--green);
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
}
}


/* --------- INFORMACOES GERAIS -------- */

.Informacoes {
    background-color: var(--dark);

    display: flex;
    flex-direction: column;
    gap: 16px;
}

.hero-titulo {
    color: var(--bg);
    font-size: 44px;
    font-weight: 600;
}

.Informacoes .desc-informacoes {
    max-width: 768px;
    color: var(--muted);
}