:root {
    --gap-0: 0px;
    --gap-8: 8px;
    --gap-12: 12px;
    --gap-16: 16px;
    --gap-24: 24px;
    --gap-32: 32px;

    --text-12: 12px;
    --text-14: 14px;
    --text-16: 16px;
    --text-18: 18px;
    --text-20: 20px;
    --text-24: 24px;
    --text-32: 32px;
    --text-44: 44px;
    --text-60: 60px;

    --red: #DC2626;
    --green: #16A34A;
    --blue: #2563AB;
    --purple: #9333EA;
    --orange: #EA580C;
    --dark: #111827;
    --gray: #797F8C;
    --back-1: #F2F7F9;
    --back-0: #FBFDFD;
    --text-gray: #4B5563;
    --text-gray-light: #D1D5DB;

    --bg: #f5f5f5;
    --text: #111827;
    --muted: #6b7280;
    --accent: #e53935;
    /* vermelho */
    --dark: #0b1220;
    --container: 1200px;
    --radius: 10px;
}

* {
    text-decoration: none;
}

/* ------ MARCAÇÃO ------- */

.marcacao {
    background-color: var(--dark);
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.marcacao p {
    max-width: 768px;
    color: var(--muted);
}

@keyframes surgir {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.verificacao-card {
    max-width: 768px;
    margin: 24px auto;
    padding: 24px;
    background-color: var(--back-0);
    border-radius: 12px;


    display: flex;
    flex-direction: column;
    gap: 24px;
}

.btns-trocar-form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.btns-trocar-form button {
    padding: 12px 16px;
    border-radius: 8px;
    outline: none;
    border: none;
    width: 100%;
    cursor: pointer;
}


.btns-trocar-form button.verificar.activo {
    background-color: var(--dark);
    color: var(--back-0);
    font-weight: 500;
    cursor: pointer;
}

.btns-trocar-form button.cancelar.activo {
    background-color: var(--accent);
    color: var(--back-0);
    font-weight: 500;
    cursor: pointer;
}

.btns-trocar-form button.verificar,
.btns-trocar-form button.cancelar {
    background-color: #797f8c6c;
    color: #444d5a;
    font-weight: 500;
}

.verification-icon-box {
    margin: auto;
    width: fit-content;
}

.verificacao-card h2 {
    color: var(--dark);
    text-align: center;
    margin-bottom: 12px;
}

.verificacao-desc,
.cancelar-desc {
    text-align: center;
    color: var(--muted);
    font-size: 14px;
    margin-bottom: 12px;
}

.verification-icon-box {
    background-color: #ec7e7e86;
    padding: 12px;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.verification-icon-box i {
    font-size: 20px;
    color: var(--accent);
    font-weight: bolder;
}

.form {
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 24px;

    display: none;
    animation: surgir .3s ease;
}

.form.activo,
.comprovativo {
    display: block;
}

.form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: var(--text);
    font-size: 14px;
}

.form input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form input {
    outline: none;
}

.form input::placeholder {
    color: var(--muted);
}

.input-infor,
#infor_ref {
    font-size: 12px;
    color: var(--muted);
    margin-top: 5px;
}


#detalhe.aviso,
#infor_ref.aviso {
    color: var(--accent);
    font-weight: 500;
}


#detalhe.aviso::after {
    content: "*";
    color: var(--accent);
}

.verify-button {
    background-color: var(--dark);
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
    transition: background-color 0.3s;
    margin-top: 15px;
    letter-spacing: 1px;

    transition: scale .3s ease-in-out;
}

.verify-button:active,
.cancelar-btn:active,
#confirmarMarcacao:active,
#cancelarMarcacao:active {
    scale: .9;
}

.cancelar-btn {
    color: white;
    background-color: var(--accent);
    padding: 12px 25px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    letter-spacing: 1px;
    font-weight: bold;
    width: 100%;
    transition: background-color 0.3s;
    margin-top: 15px;

    transition: scale .3s ease-in-out;
}

#resultado {
    margin-top: 1em;
    border-radius: 8px;
    padding: 12px;
    text-align: center;

    display: none;
    animation: surgir .3s ease-in-out;
}

#resultado.NaoCancelado.ok {
    background-color: rgba(255, 9, 5, 0.123);
    border: 1px solid #e53835a6;
    display: block;

    h4 {
        color: var(--accent);
        font-weight: 500;
    }

    p {
        color: var(--accent);
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 1px;
    }
}

#resultado.cancelado.ok {
    background-color: rgba(0, 255, 94, 0.123);
    border: 1px solid #16a34aa4;
    display: block;

    h4 {
        color: var(--green);
        font-weight: 500;
    }

    p {
        color: var(--green);
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 1px;
    }
}



/* ---------- DADOS DO CIDADÃO ----------*/

#dados-cidadao {
    width: 100%;
    border-radius: 12px;
    overflow: hidden;

    animation: surgir .3s ease-in-out;

    display: none;
}

#dados-cidadao.verDados {
    display: block;
}

#dados-cidadao .div-cont {
    padding: 12px 16px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

#dados-cidadao h3 {
    background-color: var(--dark);
    color: var(--back-0);
    text-align: left;
    padding: 8px;
}

/* ------- RESULTADO DE BI VALIDO ------- */

#resutadoBi_id {
    background-color: rgba(0, 255, 94, 0.103);
    padding: 8px;
    border-radius: 8px;
}

.resultadoBi_titulo {
    font-weight: 600;
    color: #16A34A;
}

.content_res {
    color: #16A34A;
    font-size: small;
}

/* ------- RESULTADO DE BI CADUCADO ------- */

#resutadoBi_id.caducado {
    background-color: rgba(255, 9, 5, 0.123);
}

.resultadoBi_titulo.caducado-t {
    font-weight: 600;
    color: red;
}

.content_res.caducado-c {
    color: rgba(255, 9, 5, 0.774);
}

/* ------- FIM DE BI CADUCADO ------- */

.dadosBi {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
}

.form-group-bi {
    display: flex;
    flex-direction: column;
}

.form-group-bi label {
    color: var(--muted);
    font-size: small;
}

.form-group-bi span {
    font-size: small;
    letter-spacing: 1px;
    color: var(--text);
    font-weight: 500;
}

article#validade {
    border-top: 1px solid var(--muted);
    padding: 8px 0;
}

/* --------- */
#impossivel {
    color: var(--accent);
    text-align: center;
    margin-top: 8px;
    font-weight: 500;
    font-size: small;

    display: none;
}

#impossivel.activo {
    display: block;
}

#voltar {
    width: fit-content;
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
    color: var(--muted);
    padding: 6px;
    border-radius: 12px;
    border: 1px solid var(--muted);

    display: none;
}

#voltar.activo {
    display: block;
}

/* --------- */

/* -------- PROPOSTA DE MARCAÇAO -------- */


#proposta {
    display: flex;
    flex-direction: column;
    gap: 16px;

    display: none;
}

#proposta.activo {
    display: block;
}

#proposta h4 {
    color: var(--text);
}


#proposta .form_group-proposta {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;

    div {
        display: flex;
        flex-direction: column;
        gap: 4px;
        color: var(--muted);

    }
}

#proposta .form_group-proposta div>span {
    font-size: 14px;
}

#proposta label {
    color: var(--blue);
    font-size: small;
    font-weight: 500;

}

#proposta button {
    padding: 8px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 8px;
    font-size: medium;
    font-weight: 500;
    margin-top: 12px;

    transition: scale .3s ease-in-out;
}

#confirmarMarcacao {
    background-color: #16A34A;
    color: var(--back-0);
}

#cancelarMarcacao {
    color: var(--muted);
}




/* -------------------------------------- */
/* -------------------------------------- */
/* --------- INFORMACOES GERAIS --------- */
/* -------------------------------------- */
/* -------------------------------------- */

.Informacoes {
    background-color: var(--dark);

    display: flex;
    flex-direction: column;
    gap: 16px;
}

.hero-titulo {
    color: var(--bg);
    font-size: 44px;
    font-weight: 600;
}

.Informacoes .desc-informacoes {
    max-width: 768px;
    color: var(--muted);
}

#cards-infor {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}

.card-infor {
    background-color: var(--dark);
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(10, 10, 10, 0.01);

    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 12px;

    animation: surgir .5s ease-in;
}

.card-infor h4 {
    color: var(--back-0);
}

.card-infor div {
    display: flex;
    flex-direction: column;
    color: var(--muted);
    font-size: 14px;
    letter-spacing: 1px;
}

/* --------- PRIMEIRA VIA ------- */

#primeiraVia,
#segundaViaDuplicado {
    background-color: var(--back-0);
}

#primeiraVia h2 {
    font-size: var(--text-24);
    color: var(--text);
}

#primeiraVia div,
#renovacao div,
#segundaViaDuplicado div {
    color: var(--muted);
    display: flex;
    flex-direction: column;
    gap: var(--gap-12);
    padding: var(--gap-16);

    p {
        color: var(--text);
    }
}

#primeiraVia #nota {
    font-size: var(--text-14);
    padding: 6px;
    color: rgb(107, 91, 3);
    background: linear-gradient(90deg, rgba(255, 217, 0, 0.200), rgba(255, 217, 0, 0.11));

    a {
        text-decoration: underline;
        color: rgb(107, 91, 3);
    }
}

#renovacao {
    background: transparent;
}

#primeiraVia #documentos h3,
#renovacao h3,
#segundaViaDuplicado h3 {
    font-size: var(--text-18);
    color: var(--text);
    font-weight: 500;
}

#primeiraVia #documentos ul li,
#renovacao ul li,
#segundaViaDuplicado ul li {
    font-size: var(--text-14);
    list-style-position: inside;
}

#renovacao h2,
#segundaViaDuplicado h2 {
    font-size: var(--text-24);
    color: var(--text);
    padding: 6px;
}

#convite {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: var(--gap-12);

    a {
        color: var(--back-0);
        background-color: red;
        padding: 6px;
        border-radius: var(--gap-8);
    }
}

#convite h2 {
    font-size: var(--text-24);
    text-align: center;
}




/* -------------------------------------- */
/* -------------------------------------- */
/* --------- BI PARA MENORES --------- */
/* -------------------------------------- */
/* -------------------------------------- */

#menores {
    background-color: var(--dark);
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.BiMenores {
    padding: 24px 24px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: var(--gap-24);
}

#menores p {
    color: whitesmoke;

    letter-spacing: 1px;
    max-width: 768px;
}

#introducao {
    padding: 32px 0;
    color: var(--muted);
}

#docObrigatorio,
#casosEspecias {
    /* background-color: var(--back-0); */
    padding: 0;
    margin-bottom: var(--gap-16);
    border-radius: var(--gap-8);
    overflow: hidden;
    box-shadow: 0 8px 20px rgba(10, 10, 10, 0.01);
}

#docObrigatorio h2,
#casosEspecias h2 {
    color: var(--text);
    font-size: var(--text-24);
    padding: 6px;

}

#docObrigatorio i {
    color: var(--accent);
}

#casosEspecias h2 i {
    color: rgb(177, 151, 4);
}

#casosEspecias h2 {
    font-size: var(--text-24);
    color: var(--text);
    padding: 6px;
}

#docObrigatorio article,
#casosEspecias article {
    padding: var(--gap-16);
}

#docObrigatorio article ul,
#casosEspecias article {
    display: flex;
    flex-direction: column;
    gap: var(--gap-12);
}

#docObrigatorio article ul li p,
#casosEspecias article div p {
    font-size: var(--text-14);
    color: var(--muted);
}

#docObrigatorio article ul li h3,
#casosEspecias article div h3 {
    font-size: var(--text-18);
    color: var(--text);
    font-weight: 500;
}

.atendimento {
    display: flex;
    flex-direction: column;
    gap: var(--gap-12);
}

#atendPrioritario {
    border-radius: var(--gap-12);
    display: flex;
    flex-direction: column;
    gap: var(--gap-8);
    padding: var(--gap-8);
    background-color: var(--back-0);
    box-shadow: 0 8px 20px rgba(10, 10, 10, 0.04);
    color: var(--accent);
}

#atendPrioritario p {
    font-size: var(--text-14);
}

#ValidadeMenores {
    border-radius: var(--gap-12);
    display: flex;
    flex-direction: column;
    gap: var(--gap-8);
    padding: var(--gap-8);
    background-color: var(--back-0);
    box-shadow: 0 8px 20px rgba(10, 10, 10, 0.04);
}

#ValidadeMenores div {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

#ValidadeMenores div span,
#ValidadeMenores div p {
    color: var(--muted);
    font-size: var(--gap-14);
}

#conviteMenores {
    border-radius: var(--gap-12);
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: var(--gap-8);
    padding: var(--gap-8);
    box-shadow: 0 8px 20px rgba(10, 10, 10, 0.04);
    background-color: var(--dark);
}

#conviteMenores h2 {
    color: var(--back-0);
    font-weight: 400;
    font-size: var(--text-20);
}

#conviteMenores div {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: var(--gap-8);
    color: var(--muted);
}

#conviteMenores div a {
    color: var(--back-0);
    background-color: red;
    padding: 6px;
    border-radius: var(--gap-8);
    width: 100%;
    text-align: center;
}




/* -------------------------------------- */
/* --------- COMPROVATIVO --------- */
/* -------------------------------------- */

@media print {
    body{
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: none;
    }
    .site-header{
        display: none !important;
    }
    .marcacao.container{
        display: none !important;
    }
    .verification-icon-box{
        display: none !important;
    }
    .comprovativo{
        width: 100%;
    }
    .form-group-btn{
        display: none !important;
    }
    .site-footer{
        display: none !important;
    }
}

.form-group-dados {
    display: flex;
    flex-direction: column;
    gap: var(--gap-12);
    margin: auto;
    max-width: 50%;
    border: 1px solid var(--muted);
    padding: var(--gap-12);
    border-radius: var(--gap-12);

    p {
        color: var(--muted);
    }

    label {
        color: var(--text);
    }
}

.form-group-dados article:first-child {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #afafaf80;
}

.form-group-dados article:last-child {
    display: flex;
    flex-direction: column;
    gap: var(--gap-8);
}

.form-group-dados article:last-child>div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-group-btn {
    margin-top: var(--gap-16);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--gap-12);
}

.form-group-btn a {
    font-weight: 500;
    color: var(--back-0);
    padding: var(--gap-8);
    border-radius: 8px;
    font-size: medium;
    font-weight: 500;
    width: 50%;
    text-align: center;
}

.form-group-btn a {
    background-color: #afb1b6;
}

.form-group-btn button {
    width: 50%;
    background: #4CAF50;
    color: white;
    border: none;
    padding: 10px 16px;
    border-radius: 6px;
    cursor: pointer;
}